/* 共通スタイル */
body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

/* ログインページ限定（body.login が指定された場合） */
body.login {
  background-color: #fef3f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login > p{
  background-color: red;
}
